body 
{	
	color: black; 
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 150%;

	margin-top: 0;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0;
	padding: 0;
}

h1#pageTitle
{
	font-size: 300%;
	padding: 0;
	text-align: left;
	margin-bottom: 0;
}    

h2#pageSubTitle
{
	text-align: left;
	padding-left: 1%;
	color: gray;
	font-size: 100%;
}


/* Menu */
div#topMenu {
	border-top: 1px gray solid;
	border-bottom: 1px gray solid;
}

a.menuItemSelected
{
	font-weight: bold;
	text-decoration: none;
	color: blue;
}

a.menuItemUnselected
{
	font-weight: normal;
	text-decoration: none;
	color: blue;	
}

/* General page layout */
div.leftColumn {
	float: left;
	width: 48%;
	padding-right: 1em;
}

div.rightColumn {
	float: left;
	width: 50%;
	padding: 0;
}

div#footer {
	clear: left;
	text-align: center;
	border-top: 1px gray solid;
	border-bottom: 1px gray solid;
}

p#registeredOffice {
	color: #632D0E;
}
