body 
{
  color: black;
  background: white;
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}

a { text-decoration: none; }
a:visited { color: #4000a0; }
a:hover { text-decoration: underline; }

h1#pageTitle
{
  font-size: 300%;
  text-align: left;
  margin-bottom: 0;
}    


h2#pageSubTitle
{
  text-align: left;
  padding-left: 1%;
  color: gray;
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

h2 small,h3 small {
  color: gray;
  font-size: 80%;
}

h3 a {
  color: black;
  text-decoration: none;
}

h3 a:visited {
  color: black;
}

h3 a:visited small {
  color: gray;
}

h3 a:hover {
  text-decoration: underline;
}


/* Menu */
div#topMenu {
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

a.menuItemSelected
{
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

a.menuItemUnselected
{
  font-weight: normal;
  text-decoration: none;
  color: blue;
}


/* General page layout */
div#content {
  line-height: 1.5;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

div#content h2,h3,h4 {
  margin-top: 1em;
  margin-bottom: 0;
}

div#news {
}

div#news span.date {
  color: #606060;
  font-size: 80%;
}

div.leftColumn {
  float: left;
  width: 48%;
  margin: 0;
  padding-top: 0;
  padding-right: 2em;
  padding-bottom: 1em;
}

div.rightColumn {
  float: left;
  width: 48%;
  margin: 0;
  padding: 0;
}


div.leftColumn23rd {
  float: left;
  width: 58%;
  margin: 0;
  padding-top: 0;
  padding-right: 2em;
  padding-bottom: 1em;
}


div.rightColumn3rd {
  float: left;
  width: 38%;
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}

div#footer {
  clear: left;
  text-align: center;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  margin-bottom: 1em;
}

p#registeredOffice {
  color: #632D0E;
}

ul#posts { margin: 0; padding: 0; list-style: none;}
ul#posts h1 { margin-top: 0; }

ul.briefPosts { margin: 0; padding: 0; list-style: none;}
ul.briefPosts li {
  padding-bottom: 1em;
  line-height: 1.3;
}


span.byLine { color: #404040; }
span.tagLine { color: #404040; }

/* ----- Profile ----- */
table#profileColumns { margin-top: 1em; }
table#profileColumns td { vertical-align: top; }
table#profileColumns td#picColumn { padding-right: 1em; }

table#profileColumns td#picColumn h4 {
  font-weight: normal;
  color: gray;
  margin-top: 1em;
  margin-bottom: 0;
}


table#profileColumns h2#name { margin-top: 0; }

img#profile { height: 200px; width: 200px; }

table#profileTable th {
  font-weight: normal;
  text-align: left;
  color: gray;
  padding-right: 2em;
}

div#profileText { margin-top: 1em; }

pre {
  background: #EAEAE2;
}
