body {	color: black; background: white;
		font-family: Arial, Helvetica, sans-serif;
		margin-left: 2%; margin-right: 2%;
		border: black 1px;
		     
}    


address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted 
}


/* My second rule is to set the font family for pre elements, 
   as some browsers forget to use a fixed pitch font when you set 
   the font size or other properties for pre.                      */
pre { font-family: monospace; } 

/* My third rule is to set the font family on headings, p and ul elements 
   if you intend to set borders or backgrounds on elements such as div. 
   This is a work-around for a bug where the browser forgets to use the 
   inherited font family, instead switching to the default font as set by 
   the browser preferences. */


p { font-size: 120%; 
}

p#registeredOffice {
	color: #632D0E;
}

table.border {
	border: #101010 solid 1px;
	border-collapse: collapse;
	width: 100%;
	padding: 0;
	margin: 0;
}

table.border td {
	padding: 0;
	margin: 0;
}

table.border td#mainBody {
	padding: 1em;
}

table.banner {
	background: #C00000;
	width: 100%;
	border-collapse: collapse;
	border: none;
	clear: left;
	padding:0;
	margin:0;
}

table.banner td#vlslogo {
	padding: 1em;
}

table.banner td#bannerMenu {
	color: white;
	background: black;
	padding: 0.5em;
}

					
a.menu
{
	font-weight: normal;
	font-size: 100%;
	color: white;
	padding: 0.2em;
	text-decoration: none;
	margin-bottom:0;
}

a.menu#current
{
	font-weight: bold;	
}


img.vlslogo 
{
	float:left;
	width: 373;
	height: 40;
	border: none;
}