{% if page.tags contains "Tarcel" or page.tag == "Tarcel" or page.tags contains "configurator" or page.tag == "configurator" or page.tags contains "AppDirs_tcl" or page.tag == "AppDirs_tcl" %}
<h3>Relevant Project</h3>
{% endif %}

{% if page.tags contains "Tarcel" or page.tag == "Tarcel" %}
<a href="/projects/tarcel/">Tarcel</a>
{% endif %}

{% if page.tags contains "configurator" or page.tag == "configurator" %}
<a href="/projects/configurator/">configurator</a>
{% endif %}

{% if page.tags contains "AppDirs_tcl" or page.tag == "AppDirs_tcl" %}
<a href="/projects/appdirs_tcl/">AppDirs</a>
{% endif %}

