<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<title>{{ page.title }}</title>
		<meta name="keywords" content="Software Development,Bespoke Software,Legacy Software,Legacy Systems"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta http-equiv="content-style-type" content="text/css"/>		
		<meta name="author" content="Lawrence Woodman"/>
		<meta name="description" content="vLife Systems"/>
		
		<link rel="stylesheet" href="/css/sitestyle.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="/css/html_pygments.css" media="screen" type="text/css" />
	</head>
  
	<body>
		<h1 id="pageTitle">vLife Systems</h1>
		<h2 id="pageSubTitle">Quality Through Design</h2>
		
		<div id="content">
			<strong>26th July 2023</strong> &nbsp; vLife Systems has ceased trading and will be dissolved in three months from this date.
			<br /><br />
			<h2>Registered Office</h2>
			<p><strong>Please do not use our registered office as a correspondence address.<br />
			If you need to send us anything in the post, please email us first to arrange that.</strong></p>

			<p id="registeredOffice">
			<strong>vLife Systems Ltd</strong><br />
			Registered Office: Union House, 111 New Union Street, Coventry, CV1 2NT<br />
			Registered in England and Wales No. 06477649</p>
		</div>

		<div id="footer">
			<strong>Email:</strong> <a href="mailto:info@vlifesystems.com">info@vlifesystems.com</a>
		</div>
	</body>
</html>
