<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<title>{{ page.title }}</title>
		<meta name="keywords" content="Software Development,Bespoke Software,Legacy Software,Legacy Systems"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta http-equiv="content-style-type" content="text/css"/>		
		<meta name="author" content="Lawrence Woodman"/>
		<meta name="description" content="vLife Systems"/>
		
		<link rel="stylesheet" href="/css/sitestyle.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="/css/html_pygments.css" media="screen" type="text/css" />
	</head>
  
	<body>
		<h1 id="pageTitle">vLife Systems</h1>
		<h2 id="pageSubTitle">Quality Through Design</h2>
		<div id="topMenu">
		<!-- Menu Begin -->
			&nbsp;
			{% if page.menuOption == 'home' %}
			<a class="menuItemSelected" href="/">Home</a>
			{% else %}
			<a class="menuItemUnselected" href="/">Home</a>
			{% endif %}
			&nbsp; | &nbsp;
			{% if page.menuOption == 'projects' and page.project == null %}
			<a class="menuItemSelected" href="/projects">Projects</a>
			{% else %}
			<a class="menuItemUnselected" href="/projects">Projects</a>
			{% endif %}

      {% if page.project and page.projectLink %}
      &gt; <a class="menuItemSelected" href="{{ page.projectLink }}">{{page.project}}</a>
      {% endif %}
			&nbsp; | &nbsp;

			{% if page.menuOption == 'articles' %}
			<a class="menuItemSelected" href="/articles">Articles</a>
			{% else %}
			<a class="menuItemUnselected" href="/articles">Articles</a>
			{% endif %}

      {% if page.menuOption == 'taggedArticles' %}
      &gt; <a class="menuItemSelected" href="/tag/{{ page.tag|tag_dir }}">{{page.tag}}</a>
      {% endif %}
			&nbsp; | &nbsp;

			{% if page.menuOption == 'profile' %}
			<a class="menuItemSelected" href=".">Profile</a>
			{% endif %}

			{% if page.menuOption == 'statInfo' %}
			<a class="menuItemSelected" href="/statinfo.html">Statutory Information</a>
			{% endif %}
		<!-- Menu End -->
		</div>

		<div id="content">
			{{content}}
		</div>

		<div id="footer">
			<strong>Email:</strong> <a href="mailto:info@vlifesystems.com">info@vlifesystems.com</a>
			|
			<a href="/statinfo.html">Statutory Information</a>
		</div>
	</body>
</html>
